.pos-rel {
  position: relative
}

.name-text {
  color: black;
  opacity: 0;
}

.fade-in {
  animation: fadein 1.5s ease-out forwards;
}

@keyframes fadein {
  to {
    transform: translateX(0%);
    opacity: 1;
    color: #d0005a;
  }
}